<html>
	<head>
		<link rel="shortcut icon" href="/static/Images/favicon.ico">
		<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>
	<body>	
		<canvas id = "Canvas"></canvas>
		<script src="/static/js/app.js"></script>
		<title>Midnight</title>
		<h1 id = "header" style = "text-align:center">Midnight</h1>
		<div style = "text-align:center">
		<input type = "button" id = "theButton" onclick = "playGame()" value = "Play"></input>
		<br/>
		<br/>
		<input type = "button" id = "changeBackground" onclick = "changeBackground()" value = "Change Background to lava"></input>
		<br/>
		<p id = "currentBackIs">Current Background is: Minecraft</p>
		</div>
		<audio src = "/static/audio/soundtrack2.mp3" autoplay = true loop = true></audio>
		<img id = "LavaImage" src = "/static/Images/Lava.png" hidden></img>
		<img id = "altBack" src = "/static/Images/altBack.jpg" hidden></img>
		<img id = "lavaGrimer" src = "/static/Images/lavaGrimer.png" hidden></img>
		<img id = "grimer" src = "/static/Images/grimer.gif" hidden></img>
		<img id = "arrow" src = "/static/Images/indicator.gif" hidden></img>

		<!--images:https://vignette.wikia.nocookie.net/minecraft/images/3/3f/Laavaa_maalla.png/revision/latest/window-crop/width/200/x-offset/0/y-offset/45/window-width/800/window-height/400?cb=20110429165629&path-prefix=fi
			https://static1.squarespace.com/static/57eccc4f197aeada93da392c/t/57f80af6be6594fd88b28368/1475873529207/lava.jpg?format=1500w
		!-->
	</body>
</html>